
html{
    min-width: 1440px;

    font-family: 'Nunito Sans', sans-serif;
}

body{

}

.firsts{

}
.padding-126{
    padding: 126px 0;
}
.seconds{
    min-height: 752px;
    padding: 60px 0 46px;
    box-sizing: border-box;
}
.thirds{
    padding: 21px 0;
    height: 788px;
    box-sizing: border-box;
}
.forths{
    height: 576px;
    box-sizing: border-box;
}
.sixths{
    height: 810px;
    box-sizing: border-box;
}

.content{
    width: 1170px;
    margin: 0 auto;
}

.wrapper{
    max-width: 700vw;
    overflow: hidden;
}

h1{
    padding: 47px;
    font-size: 30.41px !important;
    letter-spacing: 0.1em;
    font-weight: 100;
}
h2 {
    padding: 52px;
    font-size: 30.41px;
    font-weight: 100;
    letter-spacing: 0.4em;
}
h3{
    font-size: 44.32px;
    margin: 22px 0 37px;
    text-align: center;

}
h4{
    font-size: 35px;
    color: white;
    font-weight: 100;
    letter-spacing: 0.45em;
    padding: 153px 0 45px;
    margin: 0;
}
h5{
}
h6{
}
a{
    text-decoration: none;
    color: white;
   display: block;
}
p{
    padding-top: 42px;
    font-size: 33px;
    color: #8a9399;
}

header{
    position: relative;
    color: white;
    text-align: center;


}
.backheader{
    padding: 168px 0 143px;
    background: url("../img/back/BackTitle.png") 0 0 no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

}
.logo{
    display: inline-block;
    background: url(../img/landing-page_03.png) center center no-repeat;
    width: 145px;
    height: 160px;
}
.backformenu{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 20px;
    background-color: #8a9399;
}
menu{
    margin: 0;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 180px;
    left: -10.9em;
    bottom: 29.3em;
    color: white;
}
menu ul{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
menu ul li a{
    font-size: 1.26em;
    font-weight: 900;
    padding: 1em;
    color: white;
    text-decoration: none;
    list-style-type: none;
    transition: 1.5s;
}
menu ul li a:hover{
    background-color: grey;
}
menu ul li{
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.line{
    border-top: 10px solid #25d8d8;
    width: 220px;
    margin: 2px auto;
}

.frow{
    padding: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.fcolumnend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    width: 980px;
    margin: 0 auto;
}
.contentspec{
    width: 1300px;
    margin: 0 auto;
}

.viewmore{
    display: inline-block;
    color: white;
    margin: 38px 0 -4px;
    border: 3px solid white;
    text-decoration: none;
    padding: 15px 43px;
    font-size: 30.41px;
    font-weight: 500;
    letter-spacing: 0.11em;
    box-sizing: border-box;
    transition: .5s;
}
.viewmore:hover{
    background: #25d8d8;
    /*color: black;*/
}
/*.ViewMore:after{*/
    /*content: '';*/
    /*display: block;*/
    /*background:  url("../img/icon/arrow-down.png") center center no-repeat;*/
    /*width: 145px;*/
    /*height: 160px;*/
/*}*/
.arrow-down{
    display: inline-block;
    background:  url("../img/icon/arrow-down.png") center center no-repeat;
    width: 145px;
    height: 100px;
    transition: .5s;
}
.arrow-down:hover{
    opacity: 0.6;
    transition: .5s;
}

.arrow-down{
    -webkit-animation: shake 1s ease-out alternate infinite;
    animation: shake 1s ease-out alternate infinite;
}
@-webkit-keyframes shake {
    100% {
        -webkit-transform: translateY(-10px);
    }
}
@keyframes shake {
    100% {
        transform: translateY(-10px);
    }
}


/*main*/
main{
    text-align: center;
}

.faround{
    display: flex;
    justify-content: space-around;
}
.fbetween{
    display: flex;
    justify-content: space-between;
}
.aboutstart{
    position: relative;
    background:  url("../img/icon/AboutStart.png") center center no-repeat;
    width: 175px;
    height: 175px;
}
.aboutstatic{
    font-size: 70px;
    font-weight: 900;
    position: absolute;
    top: -20px;
    left: 130px;
    text-shadow:
            -0   -10px 6px #FFFFFF,
            0   -10px 6px #FFFFFF,
            -0    10px 6px #FFFFFF,
            0    10px 6px #FFFFFF,
            -10px -0   6px #FFFFFF,
            10px -0   6px #FFFFFF,
            -10px  0   6px #FFFFFF,
            10px  0   6px #FFFFFF,
            -1px -10px 6px #FFFFFF,
            1px -10px 6px #FFFFFF,
            -1px  10px 6px #FFFFFF,
            1px  10px 6px #FFFFFF,
            -10px -1px 6px #FFFFFF,
            10px -1px 6px #FFFFFF,
            -10px  1px 6px #FFFFFF,
            10px  1px 6px #FFFFFF,
            -2px -10px 6px #FFFFFF,
            2px -10px 6px #FFFFFF,
            -2px  10px 6px #FFFFFF,
            2px  10px 6px #FFFFFF,
            -10px -2px 6px #FFFFFF,
            10px -2px 6px #FFFFFF,
            -10px  2px 6px #FFFFFF,
            10px  2px 6px #FFFFFF,
            -3px -10px 6px #FFFFFF,
            3px -10px 6px #FFFFFF,
            -3px  10px 6px #FFFFFF,
            3px  10px 6px #FFFFFF,
            -10px -3px 6px #FFFFFF,
            10px -3px 6px #FFFFFF,
            -10px  3px 6px #FFFFFF,
            10px  3px 6px #FFFFFF,
            -4px -10px 6px #FFFFFF,
            4px -10px 6px #FFFFFF,
            -4px  10px 6px #FFFFFF,
            4px  10px 6px #FFFFFF,
            -10px -4px 6px #FFFFFF,
            10px -4px 6px #FFFFFF,
            -10px  4px 6px #FFFFFF,
            10px  4px 6px #FFFFFF,
            -5px -10px 6px #FFFFFF,
            5px -10px 6px #FFFFFF,
            -5px  10px 6px #FFFFFF,
            5px  10px 6px #FFFFFF,
            -10px -5px 6px #FFFFFF,
            10px -5px 6px #FFFFFF,
            -10px  5px 6px #FFFFFF,
            10px  5px 6px #FFFFFF,
            -6px -10px 6px #FFFFFF,
            6px -10px 6px #FFFFFF,
            -6px  10px 6px #FFFFFF,
            6px  10px 6px #FFFFFF,
            -10px -6px 6px #FFFFFF,
            10px -6px 6px #FFFFFF,
            -10px  6px 6px #FFFFFF,
            10px  6px 6px #FFFFFF,
            -7px -10px 6px #FFFFFF,
            7px -10px 6px #FFFFFF,
            -7px  10px 6px #FFFFFF,
            7px  10px 6px #FFFFFF,
            -10px -7px 6px #FFFFFF,
            10px -7px 6px #FFFFFF,
            -10px  7px 6px #FFFFFF,
            10px  7px 6px #FFFFFF,
            -8px -10px 6px #FFFFFF,
            8px -10px 6px #FFFFFF,
            -8px  10px 6px #FFFFFF,
            8px  10px 6px #FFFFFF,
            -10px -8px 6px #FFFFFF,
            10px -8px 6px #FFFFFF,
            -10px  8px 6px #FFFFFF,
            10px  8px 6px #FFFFFF,
            -9px -10px 6px #FFFFFF,
            9px -10px 6px #FFFFFF,
            -9px  10px 6px #FFFFFF,
            9px  10px 6px #FFFFFF,
            -10px -9px 6px #FFFFFF,
            10px -9px 6px #FFFFFF,
            -10px  9px 6px #FFFFFF,
            10px  9px 6px #FFFFFF,
            -10px -10px 6px #FFFFFF,
            10px -10px 6px #FFFFFF,
            -10px  10px 6px #FFFFFF,
            10px  10px 6px #FFFFFF,
            -10px -10px 6px #FFFFFF,
            10px -10px 6px #FFFFFF,
            -10px  10px 6px #FFFFFF,
            10px  10px 6px #FFFFFF;
}
.aboutstatictext{
    position: absolute;
    top: 70px;
    left: 190px;
}
.faround p{
    text-transform: uppercase;
    padding-top: 6px;
    font-size: 21px;
    width: 175px;
    font-weight: 600;
    color: black;
}
.backportfolio{
    padding: 21px;
    background: #e2e1e1;
}
.backportfolio a{
    transition: 1.5s;
    margin: 31.5px 14px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.backportfolio a:hover{

    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);

}

.backportfolio img{
    max-height: 155px;
}
.backpart{
    background: #fff url("../img/back/BackPart.png") 0 0 repeat;
    width: 100%;
    background-size: cover;
}


.sl__img{
    margin: auto;
    max-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.sl__slide{
    position: relative;
    height: 150px;
    justify-content: center;
    align-self: center;
}
.slick-initialized .slick-slide {
    display: flex !important;
}
.sl__slide a{
    display: flex;
    outline:none;
}

footer{
    position: relative;
    background: #e2e1e1;
    padding: 35px 0;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapperfoot{
    max-width: 1215px;
    margin: 0 auto;
    padding: 120px 0 156px;
}
.fieldinput{
    width: 35em;
    border-radius: 10px;
    border: 1px solid rgba(140, 140, 140, 0.38);
    padding: 21px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}

.fieldtextarea{
    width: 35em;
    height: 9em;
    border-radius: 10px;
    border: 1px solid rgba(140, 140, 140, 0.38);
    padding: 15px;
    margin: 5px 0;
    box-sizing: border-box;
    resize: none;
}

footer ul{
    position: relative;
    background-color: #292929;
    margin: 3px;
    margin-right: -133px;
    height: 280px;
    padding-left: 150px;
    text-decoration: none;
    list-style-type: none;
}
.darkfoot{
    position: absolute;
    left: 58%;
    top: 0;
    bottom: 0;
    background-color: #292929;
    width: 200vw
}

footer ul li{

    z-index: 1;
    position: relative;
    padding: 35px 0px 0px 30px;
    color: white;
    border-left: 1px solid;
    font-size: 24px;
    font-weight: 900;
}
.icondef{
    position: absolute;
    top: 27px;
    left: -53px;
}
.iconcontact1{
    background: url("../img/icon/iconBehance.jpg") 0 0 no-repeat;
    padding: 58px;
    background-size: 100%;
    position: absolute;
    top: 33px;
    left: -137px;
}

.iconcontact2{
    background: url("../img/icon/iconInsta.jpg") 0 0 no-repeat;
    padding: 16px;
    background-size: 100%;
}
.iconcontact3{
    background: url("../img/icon/iconFace.jpg") 0 0 no-repeat;
    padding: 16px;
    background-size: 100%;
}
.iconcontact4{
    background: url("../img/icon/iconMail.jpg") 0 0 no-repeat;
    padding: 16px;
    background-size: 100%;
}
footer a:hover{
    opacity: .6;
}

.footer2{
    position: absolute;
    bottom: 0;
    background-color: grey;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sendcontact{
    display: inline-block;
    color: white;
    margin: 19px auto;
    background-color: #25d8d8;
    text-decoration: none;
    padding: 13px 35px;
    font-size: 30.41px;
    border-radius: 10px;
    font-weight: 900;
    letter-spacing: 0.11em;
    box-sizing: border-box;
    transition: .5s;
}


.slick-prev:before
{
    content: url("../img/landing-page_59.png");
    position: absolute;
    top: -10px;

}

.slick-next:before
{
    content:  url("../img/landing-page_62.png");
    position: absolute;
    top: -10px;
    right: 10px;
}
.slick-prev:hover:before,
.slick-next:hover:before
{
    opacity: 1;
}